<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['']">
    <strong>Customer Portal</strong></a>
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link"  [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/aboutus']">AboutUs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/contactus']">ContactUs</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/services']">Services</a>
      </li>       
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Customers</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item"  [routerLink]="['/addcustomer']">Add Customer</a>
          <a class="dropdown-item"  [routerLink]="['/customers']">Display Customers</a>
        </div>
      </li>
      </ul>
      <ul class="navbar-nav my-auto mt-2 mt-lg-0 mr-0">
      <li class=" nav-item  mobileShow " *ngIf="currentUser">
          <a class="nav-link">
              <span>{{currentUser}}</span>
          </a>
      </li>
      <li *ngIf="currentUser" class="nav-item">
        <a class="nav-link" (click)="onLogout()">
            Logout
        </a>
    </li>
    <li class="nav-item" *ngIf="!currentUser">
        <a class="nav-link" [routerLink]="['/login']">
            Login
        </a>
    </li>

    <li class=" nav-item" *ngIf="!currentUser">
        <a class="nav-link" [routerLink]="['/signup']">
            Sign Up
        </a>
    </li>
    </ul>   
  </div>
</nav>
